[submodule "deps/RED4ext.SDK"]
	path = deps/RED4ext.SDK
	url = https://github.com/Cyberpunk2077-Mods/RED4ext.SDK.git
[submodule "deps/RedLib"]
	path = deps/RedLib
	url = https://github.com/Cyberpunk2077-Mods/RedLib.git
[submodule "scripts/RedTest"]
	path = scripts/RedTest
	url = https://github.com/Cyberpunk2077-Mods/RedTest.git
[submodule "deps/RedData"]
	path = deps/RedData
	url = https://github.com/Cyberpunk2077-Mods/RedData.git
	branch = api
